<div id="map" class="map">
    <LeafletMap @lat={{this.lat}} @lng={{this.lng}} @zoom={{this.zoom}} @onDblclick={{action (action "newPosition")}} as |layers|>
        <layers.tile @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"/>
        {{#if this.isUserLocation}}
            <layers.marker @location={{this.emberConfLocation}} as |marker|>
                <marker.popup>
                    <h3>{{this.user.username}}</h3>
                </marker.popup>
            </layers.marker>
        {{/if}}

        {{#each this.marker.markersList as |r|}}
            <layers.marker @lat={{r.latitude}} @lng={{r.longitude}} @draggable={{true}} as |marker|>
            <marker.popup @popupOpen={{readonly r.isOpen}}>
                <h3>{{r.text}}</h3>
                <p>Lat: {{r.latitude}}</p>
                <p>Long: {{r.longitude}}</p>
            </marker.popup>
            </layers.marker>
        {{/each}}

    </LeafletMap>
</div>