<header class="header">
    <div class="wrap-header">
        <div class="container">
            <div class="header-menu">
                <div class="left-menu">
                    <a href="#" class="icon">
                        <div class="svg-icon {{if this.isSosActive 'active' 'non-active'}}" {{action (action "sos")}}></div>
                    </a>
                    <div class="user-info">{{this.session.data.authenticated.User.username}}</div>
                </div>
                <div class="right-menu">
                    <div class="filters" {{action (action "openFilterModal")}}>
                        <p>Filtros</p>
                    </div>
                    <div class="search" {{action (action "openSearchModal")}}>
                        <p>Pesquisas</p>
                    </div>
                    <div class="alerts">
                        <div class="alert-icon svg"></div>
                    </div>
                    <div class="chat">
                        <div class="chat-svg svg" {{action (action "openRightBar")}}></div>
                    </div>
                    <div class="logout">
                        <div class="icon-logout svg"{{action (action "logout")}}></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#if this.isRightBarOpen}}
        <div class="right-bar" {{on-click-outside (action "closeRightBar")}}>
            <div class="container">
                <div class="wrap-right-bar">
                    <div class="select-buttons">
                        <div class="show-all-users wrap-buttons-label {{if this.showAllUsers 'active' 'non-active'}}"{{action (action "getAllUsers")}}>Users</div>
                        <div class="show-follow-users wrap-buttons-label {{if this.showFollowers 'active' 'non-active'}}"{{action (action "getAllFollowers")}}>Followers</div>
                    </div>
                    {{#if this.showAllUsers}}
                    <div class="users-list">
                        <Header::Users
                            @data={{this.usersData}}
                        />
                    </div>
                    {{/if}}
                    {{#if this.showFollowers}}
                    <div class="users-list">
                        <Header::Followers
                            @data={{this.usersData}}
                        />
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/if}}
    {{#if this.isShowingFilterModal}}
    <ModalDialog @onClose={{action "openFilterModal"}} @targetAttachment="center" @translucentOverlay={{true}}>
        <div class="modal-filter">
            <div class="close-modal" {{action (action "openFilterModal")}}>
                <div class="close-svg"></div>
            </div>
            <form onSubmit={{action "filterUsers"}}>
                <div class="user">
                    <div class="dropdown" {{on-click-outside (action "closeSelect")}}>
                        <div class="select {{if this.active 'active' 'non-active'}}" {{action (action "openSelect")}}>
                            <span>{{this.text}}</span>
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu {{if this.selectUser 'active' 'non-active'}}">
                            {{#each this.usersData as |u|}}
                                <li id="{{u.ID}}" name="u.username" {{action (action "selectValue" u.username u.ID)}}>{{u.username}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <span class="msg"></span>
                </div>
                <div class="date">
                    <div class="input-date1"><input id="filter-date1" type="date"></div>
                    <div class="input-date2"><input id="filter-date2" type="date"></div>
                </div>
                <div class="submit">
                    <button type="submit" class="filter-btn">Pesquisar</button>
                </div>
            </form>
        </div>
    </ModalDialog>
    {{/if}}
    {{#if this.isShowingSearchModal}}
    <ModalDialog @onClose={{action "openSearchModal"}} @targetAttachment="center" @translucentOverlay={{true}}>
        <div class="modal-filter search">
            <div class="close-modal" {{action (action "openSearchModal")}}>
                <div class="close-svg"></div>
            </div>
            <div class="dropdown" {{on-click-outside (action "closeSelect")}}>
                <div class="select {{if this.active 'active' 'non-active'}}" {{action (action "openSelect")}}>
                    <span>Selecione o tipo de Pesquisa</span>
                    <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="gender">
                <ul class="dropdown-menu {{if this.selectUser 'active' 'non-active'}}">
                    <li id="userHistory" name="userHistory" {{action (action "userHistory")}}>Histórico de deslocamentos entre datas</li>
                    <li id="searchUserXKm" name="searchUserXKm" {{action (action "searchUserXKm")}}>Pesquisar utilizadores em raio de x KM</li>
                </ul>
            </div>
        </div>
        {{#if this.isSearchHistory}}
            <form  onSubmit={{action "searchHistory"}}>
                <div class="modal-filter searchHistory">
                    <div class="modal-user-history">Histórico de deslocamentos entre datas</div>
                    <div class="date">
                        <div class="input-date1"><input id="date1" type="date"></div>
                        <div class="input-date2"><input id="date2" type="date"></div>
                    </div>
                    <div class="submit">
                        <button type="submit" class="filter-btn">Pesquisar</button>
                    </div>
                </div>
            </form>
        {{/if}}
        {{#if this.isSearchXKm}}
            <form  onSubmit={{action "searchXKm"}}>
                <div class="modal-filter searchXKm">
                    <div class="modal-user-history">Exibir Utilizadores no raio de X KM</div>
                    <input id="meters" type="number" min="0" placeholder="Insira o raio (m) no qual quer exibir os utilizadores">
                    <div class="submit">
                        <button type="submit" class="filter-btn">Pesquisar</button>
                    </div>
                </div>
            </form>
        {{/if}}
    </ModalDialog>
    {{/if}}
</header>