{{page-title "Register"}}
{{outlet}}
<body>
	<div class="limiter register">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilte="">
					<div class="logo"></div>
				</div>

				<form class="login100-form validate-form" {{on "submit" this.register}}>
					<span class="login100-form-title">
						Registo
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid username is required">
						<input class="input100" type="text" name="username" placeholder="Username" {{on "change" (fn this.update "username")}}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password" {{on "change" (fn this.update "password")}}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Registo
						</button>
					</div>


        			<div class="text-center p-t-136">
						<a class="txt2" href="#" {{on "click" this.returnLogin}}>
							Voltar
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
        {{!-- <div class="return">
          <a class="return-login" {{on "click" this.returnLogin}} >Voltar</a>
        </div> --}}
				</form>
			</div>
		</div>
	</div>
</body>







